<head>
    <meta charset="utf-8">
    <title>表单输入绑定</title>
</head>

<script src="https://cdn.jsdelivr.net/npm/vue"></script>

<div id="app-29">
    <input v-model="message" placeholder="edit me">
    <p>{{message}}</p>

    <span>Multiline message is:</span>
    <p style="white-space: pre-line;">{{message}}</p>
    <br>
    <textarea v-model="message" placeholder="占位文字"></textarea>
</div>

<script>
   var vm =  new Vue({
        el: "#app-29",
        data: {
            message: ''
        }
    })
</script>